{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    
</head>
{% if user.is_authenticated %}
<body class="overflow-x-hidden" style="margin: 0; padding: 0; height: 100%; background-color: black;">
        <img class="absolute h-screen w-screen" src="{% static 'image/stranger-things-cast-pictures.jpg' %}" alt="">
         <div class=" h-[80px] w-screen flex flex-wrap">
            <img class=" absolute h-[80px] w-[120px] ml-16" src="{% static 'image/netbg.png' %}" alt="">
            <div class="absolute top-8 left-48">
                <button class="text-white ml-6">Home</button>
                <button  class="text-white ml-6">TV Shows</button>
                <button  class="text-white ml-6">Movies</button>
                <button  class="text-white ml-6">Latest</button>
                <button  class="text-white ml-6">My List</button>
                <button  class="text-white ml-6">Browse by Language</button>

                <div class=" absolute gap-10 flex -bottom-2 left-[600px]">
                    <img id="searchicon" class="h-7 w-10 ml-[300px] mt-7" src="{% static 'image/search-01-stroke-rounded (1).svg' %}" alt="">
                    <img class="h-7 w-10  mt-7" src="{% static 'image/notification-03-stroke-rounded.svg' %}" alt="">
                    <img id="profileDiv" class="h-9 w-10  mt-7 cursor-pointer rounded-lg" src="{% static 'image/profilen.jpg' %}" alt="">
                    <div id="profileMenu" class=" hidden absolute top-[80px] right-32">
                        <div class="mt-2 h-auto w-[250px] bg-black bg-opacity-70 absolute">
                            {% for profile in profiles %}
                            <a href="{% url 'profile_detail' profile.id %}"><div class=" flex cursor-pointer ">
                                <img class="h-8 w-12 mt-8 ml-2 object-cover " src="{{profile.image.url}}" alt="">
                                <h1 class="font-semibold text-white  ml-9 mt-8">{{profile.name}}</h1>
                            </div></a>
                            {% endfor %}
                            
                            <div class=" flex cursor-pointer">
                                <img class="h-8 w-12 mt-8 ml-2" src="{% static 'image/pencil-edit-02-stroke-rounded.svg' %}" alt="">
                                <a href="{% url 'manage_profile' %}"><h1 class="font-semibold text-white  ml-9 mt-8 ">Manage Profile</h1></a>
                            </div>
                            <div class=" flex cursor-pointer">
                                <img class="h-8 w-12 mt-8 ml-2" src="{% static 'image/user-account-stroke-rounded.svg' %}" alt="">
                                <a href="{% url 'transfer_profile' %}"><h1 class="font-semibold text-white  ml-9 mt-8">Transfer Profile</h1></a>
                            </div>
                            <div class=" flex cursor-pointer ">
                                <img class="h-8 w-12 mt-8 ml-2" src="{% static 'image/user-stroke-rounded.svg' %}" alt="">
                                <h1 class="font-semibold text-white  ml-9 mt-8">Account</h1>
                            </div>
            
                            <div class=" flex cursor-pointer">
                                <img class="h-8 w-12 mt-8 ml-2" src="{% static 'image/help-circle-stroke-rounded (1).svg' %}" alt="">
                                <h1 class="font-semibold text-white  ml-9 mt-8 ">Help</h1>
                            </div>
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                            <div class="flex items-center justify-center mt-2 mb-2">
                               <button class="bg-red-500 pl-3 pr-3 rounded-lg">Logout</button>

                            </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <div>

            <button class=" h-8 w-20  flex justify-center absolute bg-black bg-opacity-40 text-white mt-96 ml-20 hover:bg-black font-bold ">
                <img src="{% static 'image/play-stroke-rounded.svg' %}" alt="">Play
            </button>

            <button class=" h-8 w-36  flex justify-center absolute bg-black bg-opacity-40 text-white mt-96 ml-52 hover:bg-black font-bold ">
                <img src="{% static 'image\alert-circle-stroke-rounded.svg' %}" alt="">More Info
            </button>
        </div>
        
        <div class="flex flex-wrap absolute">
            <h1 class=" mt-[430px] top-[400px] ml-10 text-white font-extrabold text-3xl">Continuous Watching for Chadani</h1>
            <div class="flex gap-1 absolute top-[490px] left-6">  
                {% for movie in movies %} 
                <div class="h-[150px] w-[200px] transition-all hover:scale-150">
                    <a href="{% url 'video' movie.uuid %}" >
                        <img src="{{ movie.flyer.url }}" alt="">
                    </a>
                </div>
                <div class="h-[150px] w-[200px] hover:scale-150">
                    <a href="{% url 'video' movie.uuid %}">
                        <img src="{{ movie.flyer.url }}" alt="">
                    </a>
                </div>
               
             
                
               
               {% endfor %}
            </div>

            <div class="flex flex-wrap absolute">
                <h1 class="mt-[630px] top-[600px] ml-10 text-white font-extrabold text-3xl">Because You watched snap</h1>
                <div class="flex gap-1 absolute mt-[680px] left-6">   
                    <div class="h-[150px] w-[200px]">
                        <img src="{% static 'image/squid.jpg' %}" alt="">
                    </div>
                    <div class="h-[80px] w-[140px]">
                        <img src="{% static 'image/wed.jpg' %}" alt="">
                    </div>
                    <div class="h-[100px] w-[200px]">
                        <img src="{% static 'image/squid.jpg' %}" alt="">
                    </div>
                    <div class="h-[100px] w-[200px]">
                        <img src="{% static 'image/all of.jpg' %}" alt="">
                    </div>
                    <div class="h-[100px] w-[200px]">
                        <img src="{% static 'image/img.jpg' %}" alt="">
                    </div>
                    <div class="h-[800px] w-[400px]">
                        <img src="{% static 'image/startup.jpg' %}" alt="">
                    </div>
                    
                </div>
            </div>
    </div>
    <div>
        <form id="searchDiv" class="hidden" action="{% url 'search' %}" method="get">
        
            <input    class="absolute h-[70px] w-[700px] bg-white text-center rounded-2xl z-20 ml-[300px] mr-[500px] mt-[200px]" type="text" placeholder="search Movies" name="query">
             <input type="submit" value="search">
        </form>
        </div>

    <script>
        searchicon.addEventListener("click",showSearchBar());
        function showSearchBar(){
            searchbar=document.getElementById('searchDiv')
            searchbar.classList.remove('hidden')
        }



        profileDiv.addEventListener('click', toggleProfile);

function toggleProfile() {
    var profile = document.getElementById('profileMenu');
    if (profile.classList.contains('hidden')) {
        profile.classList.remove('hidden');
    } else {
        profile.classList.add('hidden');
    }
}

    
      
    </script>
    {% else %}
    <div class="w-screen h-screen flex justify-center items-center">
        <p class="text-5xl">404 not found</p>
    </div>
    {% endif %}
</body>
</html>
